
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
    background-size: cover;
    /* <------ */
    background-position: center 15%;
}


a {
  color: #08c;
}

code {
  background: #eee;
  padding: .1rem;
  font-family: 'Menlo';
  font-size: 13px;
  color: #ff00aa;
}

.text-input {
  padding: .5rem 10px ;
  margin : 20px 0 0 0;
  font-size: 16px;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 238px;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

.input-feedback {
  color: red;
  margin-bottom: .25rem;
}

.submit-auth {
  margin: 20px 0 0 0;
  padding: 10px 20px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  width: 100%;
}
.submit-auth:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}
.formik-auth{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  
}
.form-auth {
  border-radius: 10px;
  border: solid 1px gray;
  padding: 30px;
  background-color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
}
.submit-auth{
    background-color: rgba(25, 4, 214, 0.753);
}
.row-roomchat{
  padding: 20px 10px;
}
.col-roomchat >div {
  background-color: rgb(163, 220, 248);
  border-radius: 10px;
  height: 240px;
  padding: 12px;
}
.item{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* button {
  margin: 20px 0 0 0;
  padding: 10px 20px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  width: 100%;
} */
.join{
  width: 100px;
  border-radius: 5px;
}
.left{
float: left;
clear: both;
background-color: #fff;
}
.right{
  float: right;
  clear: both;
  background-color:#fff;
}
.roomchat{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 90%;
  margin: 10px auto;
  background-color: #5cacec;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.list-content-chat{
  width: 100%;
  padding: 10px;
}
.list-content-chat>div{
  width: fit-content;
  max-width: 200px;
  height: fit-content;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  word-break: break-word;
}
.typing{
  width: 100%;
  display: flex;
}
.typing >input{
  margin: 20px ;
  margin-right: 0;
  border-radius: 10px 0 0 10px;
}
.typing>button {
  margin: 20px;
  margin-left: 0;
  border-radius:  0 10px 10px 0;
  color:rgb(33, 97, 218);
  font-weight: 700;
}